<%- include('_partial/_header'); -%>

    <h1>Welcome to my first Node.js app</h1>
      <div class="btn-group">
        <a method="POST" class="btn btn-primary">Attack 1</a>
      </div>
<%- include('_partial/_footer'); -%>