<%- include('../_partial/_header'); -%>

    <h1>Welcome to my first Node.js app</h1>
      <div class="btn-group">
        <a href="/playerOne" class="btn btn-primary">Player 1</a>
        <a href="/playerTwo" class="btn btn-primary">Player 2</a>
      </div>
<%- include('../_partial/_footer'); -%>