<%- include('../_partial/_header'); -%>

    <div class="jumbotron">
        <div class="text-center">
            <h1 class="display-4">Joust</h1>
            <img src="/images/castle.jpg" class="bg-img w-50 p-3" alt="A castle">
            <h1 class="display-4">Welcome to Joust,</h1>
            <p class="lead">Please pick which player you are</p>
            <hr class="my-4">
            <p>Don't worry there is no advantage</p>
            <p class="lead">
            <div class="btn-group mx-3 px-3">
                <a href="/playerOne" class="mx-3 px-3 btn-lg btn-primary" style="background-color: #097969;">Player
                    1</a>
                <a href="/playerTwo" class="mx-3 px-3 btn-lg btn-primary" style="background-color: #097969;">Player
                    2</a>
            </div>
        </div>
        </p>
    </div>

    <%- include('../_partial/_footer'); -%>